/*
#filters .selectors{
	padding-bottom: 20px;
	margin-left: 0;
}
*/

// jake frmo here
.feature-filters{
	padding: 40px 0;
	background-color: #999;

	#filter-primary h2{
		color: #FFF;
	}
}

//temp
#filter-no-results {
	font-size: 4em;
	text-align: center;
	padding: 3em 0;
}

// jake to here

.program-overview {

	.selectors {
		background: #fff;
		max-height: 0;
		padding: 0 25px;
		overflow: hidden;
		.transition(all 0.5s);

		&.open {
			max-height: 800px;
			padding: 25px;
		}	

		h3 {
			color: @gray-dark;
		}
		
		.filter-group {
			list-style: none;
			margin: 0;
			padding: 0;
			float: left;

			a {
				color: @gray;
				
				&.selected {
					color: @green;
					text-decoration: underline;
				}
			}
		}	
	}

	.btn-filter {
		text-transform: uppercase;
		border-radius: 0;
		-webkit-border-radius: 0;
		.button-variant(#fff; @gray-dark; @gray-dark);
		color: #fff !important;

		.graphic {
			float: right;
			margin-left: 5px;
		}
	}

	.colored-background {
		margin-bottom: 25px;
		padding-bottom: 0;
	}

	.featured-image {
		width: 100%;
		height: 500px;
		background-image: url('../img/home-img-1.jpg');
		background-size: cover;
		background-position: center center;
		position: relative;
		overflow: hidden;

		.featured-text {
			font-size: 2.4em;
			color: @green;
			line-height: 1;
			height: 50%;
			position: absolute;
			top: 20%;
			left: 5%;
		}

		@media (max-width: @screen-xs-max) {
			height: 200px;
		}
	}

	#filter-primary {
		.selectors .filter-group{
			li {
				width: 30%;
				float: left;
			}
		}
	}

	#filter-extended {
		.filter-col {
			width: 15%;
			padding-right: 25px;
			float: left;
			
			&.months {
			    max-width: 20% !important;
			}

			&.months li{
			    width: 50%;
			    float: left;
			}
		}
	}

	#filter-view {
		.filter-message {
			font-size: 1.2em;
			padding: 0 15px;
		}

		.filter-clear {
			.icon-close-circle {
				top: -12px;
				right: -12px;
			}
		}
	}

	#course-overview {
		max-height: 0;
		transform: scale3d(0, 0, 0);
		-webkit-transform: scale3d(0, 0, 0);
		.transition(all 0.5s);
		overflow: hidden;

		&.active {
			max-height: 8000px;
			transform: scale3d(1, 1, 1);
			-webkit-transform: scale3d(1, 1, 1);
		}

	}
}