.course {
	/*
	.header {
		padding-top: 30px;

		h1 {
			color: #fff;
			line-height: 1;
			margin-bottom: -0.15em;
		}
	}
	*/
	.testimonials {	
		
	}

	ul {
		list-style-position: inside;
		margin-left: 0;
		padding-left: 0;
	}
}

.facilitator-item {
	font-size: 1.1em;
}