.home-page {
	/*
	@media (min-width: @screen-sm-max) {
		overflow: hidden;
		position: relative;
	}
	*/
	#header {
		width: 100%;
		position: fixed;
		z-index: 100;

		@media (max-width: @screen-sm-max) {
			position: static;
		}
	}

	#content-container {
		padding-top: 134px;

		@media (max-width: @screen-sm-max) {
			//padding-top: 92px;
			padding-top: 0;
		}
	}

	.home-images {
		color: #FFF;
		-webkit-font-smoothing:antialiased;
		width: 100%;
		height: 100%;
		background-image: url('../img/home-img-1.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		position: absolute;
		top: 0;
		bottom: 0;

		/*
		@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
			background-attachment: scroll;
		}
		*/

		.call-to-action {
			font-family: @font-heading-med;
			font-size: 18px;
			position: absolute;
			bottom: 80px;
			right:0;
			width: 100%;
			background-color: fade(@blue, 80%);
			padding: 15px 0;
			.big-link{
				color: #FFF;
			}
		}

		@media (max-width: @screen-xs-max) {
			height: 400px;
			background-attachment: scroll;
			position: relative;

			.call-to-action {
				bottom: 0;
			}
		}
	}

	#content {
		padding: 0;
	}

	.scroller-wrapper {
		/*
		@media (min-width: @screen-sm-max) {
			overflow: hidden;
			position: relative;
		}
		*/
	}

	.scroller {
		/*
		position: absolute;
		top: 0;
		left: 0;
		*/
		> ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	.btn-link {
		border: 1px solid @gray-lighter;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		color: #000;
		line-height: 1;
		display: inline-block;
		padding: 8px;
		margin-bottom: 15px;
	}

	.big-link {
		font-family: @font-heading-med;
		font-size: 16px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;

		.arrow-link-sq {
			vertical-align: -4px;
		}
	}

	.section {
		min-height: 600px;
		height: auto;
		position: relative;
		padding: 60px 0 60px;

		@media (min-width: @screen-lg-min) and (min-height: 720px) {
			.container {
				&.center-all {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -30px;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
				}
			}
		}

		@media (max-width: @screen-xs-min) {
			padding-bottom: 60px;
			min-height: 0;
		}

		.arrow-link {
			margin-right: 4px;
		}

		&.hero {
			padding-top: 0;

			.section-footer {
				width: 100%;
				height: 80px;
			}
			.icon-chevron-down-circle  {
				display: block;
				position: relative;
				margin: 6px auto 0;
			}
			.hero-overlay {
				position: absolute;
				top: 0;
				left: 0;
			}
			@media (max-width: @screen-xs-max) {
				padding: 0;

				.hero-overlay {
					display: none;
				}
			}
		}

		&.introduction {
			background-image: url('../img/intro-bg.png');
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			color: @gray-lighter;
			font-family: @font-agile-light;
			font-size: 1.6em;
			line-height: 1.4;

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: @green-dark;
				opacity: 0.8;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
			}

			> * {
				position: relative;
				z-index: 10;
			}

			h2 {
				font-size: 1em;
				text-transform: initial;
			}

			ul {
				list-style: disc;
			}

			@media (max-width: @screen-xs-max) {
				font-size: 1.3em;

				ul{
					padding-left: 20px;
				}

				li{
					margin-bottom: 18px;
				}
			}
		}

		&.news {
			background-color: @green-dark;
			color: #fff;

			h3 a {
				color: #fff;
			}

			p {
				margin-bottom: 0;
			}

			.date {
				color: @gray;
				margin-bottom: 15px;
			}
		}

		&.videos {
			background-color: @gray-lightest;

			h3 {
				font-size: 18px;
				margin-top: 15px;
			}

			.video-item {
				position: relative;
				margin-bottom: 10px;
			}
			.video-popup-thumbnail{
				max-width: 100%;
			}
			.overlay{
				position:absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;

				&:hover{
					background-color: fade(@blue, 50%);
				}
			}

			.video-modal {
				&.graphic {
					position: absolute;
					top: 50%;
					left: 50%;
				}

				&.btn-play-sm {
					margin-top: -19px;
					margin-left: -19px;
				}

				&.btn-play-lg {
					margin-top: -60px;
					margin-left: -60px;
				}
				&.btn-play-xl {
					margin-top: -91px;
					margin-left: -91px;
				}
			}
		}


		&.case-studies {
			/*
			h3 {
				color: @gray;
			}
			*/
			ul {
				margin-bottom: 15px;
			}

			.numbering {
				margin-bottom: 15px;
			}

			.col-md-6 {
				margin-bottom: 25px;
			}
		}

		&.testimonials {

		}

		&.featured-program {
			background-image: url('../img/listening-bg.jpg');
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			color: #fff;
			-webkit-font-smoothing: antialiased;
			/*
			@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
				background-attachment: scroll;
			}
			*/


		 	@media only screen and (max-width: @screen-xs-max) {
		 		background-attachment: scroll;
		 	}


			.underline{
				padding-bottom: 5px;
				border-bottom: 1px solid #FFF;
				display: inline-block;
			}
			.feature-facilitator {
				img{
					max-width: 100px;
				}
				h3{
					margin-top: 10px;
				}
			}
			.featured-testimonial{
				margin: 0px 0 20px 0;
				
				.meta {
					font-family: @font-bold;
					font-size: 13px;
					text-transform: uppercase;
				}	
			}

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: @green-dark;
				opacity: 0.8;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
			}

			> * {
				position: relative;
				z-index: 10;
			}
		}

		&.our-partners {
			h2 {
				margin-bottom: 30px;
			}

			.section-text {
				margin-bottom: 60px;
			}
		}

		.section-footer {
			width: 100%;
			height: 60px;
			background-color: @gray-lightest;
			position: absolute;
			bottom: 0;
			margin-top: 60px;
			border-top: 1px solid #CDCDCD;
			border-bottom: 1px solid #CDCDCD;
			.arrow-section-down  {
				display: block;
				position: relative;
				margin: 22px auto 0;
			}

			@media (max-width: @screen-sm-max) {
				display: none;
			}
		}
	}

	.home-footer{
		min-height: 0 !important;
		padding-top: 0;
		padding-bottom: 0;

		footer{
			margin-top: 0;
		}
	}
}