.page-template-template-programs-page {
	.panel-programs {
		height: 300px;
		box-shadow: none;
		border-left: 1px dashed @gray;

		.numbering {
			margin-bottom: 15px;
		}

		.panel-body {
			padding-top: 0;
		}

		.btn-shadowed.text-uppercase {
			position: absolute;
			bottom: 30px;
		}
	}

	select + .btn-shadowed  {
		margin-left: 5px;
	}
}
#scheduled-program-archive {
	.panel {
		background:transparent;
		box-shadow: none;
	}
}