.page-template-template-people {

	.people-filter, .people-nav {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li a {
			font-family: @font-medium;
			color: @gray-dark;
			text-transform: uppercase;

			&:hover,
			&:focus,
			&.selected {
				color: @pink;
				text-decoration: none;
			}

			&.out {
				color: @gray-lightest;
				pointer: default;
			}
		}
	}

	.person {
		position: relative;	
		cursor: pointer;
		
		&:hover,
		&:focus,
		&.selected {
			img {
				border: 4px solid @pink;
			}
		}

		&.out {
			opacity: 0.2;
			cursor: default;
		}

		&.out:hover {
			img {
				border: 4px solid transparent;
			}
		}

		&.selected {
			.panel-info-callout {
				opacity: 1;
			}
		}

		h3 {
			color: @gray-dark;
			margin-top: 50%;
		}

		.panel-info-callout {
			opacity: 0;
			.transition(all 0.25s);
			display: block;
			position: relative;
			margin: 10px auto 0;
			z-index: 10;
		}
	}

	.panel-info {
		max-height: 0;
		padding: 0 30px;
		border: 1px solid @gray-lighter;
		opacity: 0;
		margin: 0;

		.transition(all 0.25s);
		overflow: hidden;

		.icon-close {
			display: block;
			margin-top: 5px;
			margin-right: -15px;
		}

		h2 {
			color: @gray-dark;
		}

		&.show {
			max-height: 500px;
			opacity: 1;
			margin: -1px 0 10px;;
			padding: 10px 30px;
		}

		.panel-title {
			margin-top: 30px;
		}
	}
}