footer {
	background-color: @gray-lightest;
	margin-top: 2em;

	h2 {
		border-top: 1px solid @gray-lighter;
		font-size: 1em;
		line-height: 1;
		text-transform: initial;
		color: @gray !important;
		margin: 5px 0;
		padding: 10px 0;

		a, a:link {
			color: @gray !important;
		}

		.graphic {
			vertical-align: -8px;
			margin-right: 5px;
		}
	}

	ul {
		border-top: 1px solid @gray-lighter;
		list-style: none;
		margin: 0;
		padding: 0;

		a, a:link {
			color: @gray !important;
		}

		li {
			border-bottom: 1px solid @gray-lighter;
			padding: 5px 0;
		}
	}

	.visible-xs-block {
		margin-bottom: 20px;
	}

	.back-to-top {
		color: @gray-dark;
		text-transform: uppercase;
		display: block;
		margin-top: 35px;

		.graphic {
			margin-right: 5px;
		}
	}

	.icon-share {
		display: block;
		margin-top: 35px;
	}

	.container .row:first-child {
		border-top: 0;
	}

	.copyright {
		margin-top: 255px;
		padding-bottom: 15px;
		
		.hero-overlay {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		@media (max-width: @screen-xs-max) {

			margin-top: 20px;

			.hero-overlay {
				display: none;
			}
		}

	}
	
	
}

.content-info {
	
}
