footer {
	background-color: @gray-lightest;
	margin-top: 2em;

	.h2 {
		border-top: 1px solid @gray-lighter;
		font-size: 1em;
		line-height: 1;
		text-transform: initial;
		color: @gray !important;
		display: block;
		margin: 5px 0;
		padding: 10px 0;

		a, a:link {
			color: @gray !important;
		}

		.graphic {
			vertical-align: -8px;
			margin-right: 5px;
		}
	}

	ul {

		list-style: none;
		margin: 0;
		padding: 0;

		a, a:link {
			color: @gray !important;
		}

		&.sub-menu {
			border-top: 1px solid @gray-lighter;

			li {
				border-bottom: 1px solid @gray-lighter;
				padding: 5px 0;
			}
		}
	}


	@media (max-width: @screen-xs-max) {
		margin-top: 20px;

		.h2 {
			border: 0;
		}

		ul {
			margin-bottom: 15px;
		}
	}

	.visible-xs-block {
		margin-bottom: 20px;
	}

	.back-to-top {
		color: @gray-dark;
		text-transform: uppercase;
		display: block;
		margin-top: 35px;

		.graphic {
			margin-right: 5px;
		}
	}

	.icon-facebook {
		margin-top: 35px;
	}

	.menu-qeli .footer-icon {
		.graphic.footer-qeli;
	}

	.menu-our-community .footer-icon  {
		.graphic.footer-community;
	}

	.menu-our-programs .footer-icon {
		.graphic.footer-courses;
	}

	.menu-news-resources .footer-icon {
		.graphic.footer-news;
	}

	.container .row:first-child {
		border-top: 0;
	}

	.copyright {
		margin-top: 200px;
		padding-bottom: 15px;

		.hero-overlay {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		@media (max-width: @screen-xs-max) {
			margin-top: 20px;

			.hero-overlay {
				display: none;
			}

			.footer-logo {
				display: block;
				margin-bottom: 20px;
			}
		}
	}
}

.content-info {

}
