button {
	//Button resets
	padding: 0;
	border: 0;
	appearance: none;
	-webkit-appearance: none;

	&.icon-close {

	}
}

.btn-more-options{
	// padding-top:20px;
}

.btn-skills{
	background: #333;
	color: #FFF;
}


.btn-shadowed {
	.button-variant(@gray-dark, #fff, @gray-lighter);
	color: @gray-dark !important;
	font-size: 12px;
	line-height: 1;
	border-radius: 4px;
	padding: 5px 15px 5px 10px;

	-webkit-box-shadow: 3px 3px 0px 0px rgba(189, 191, 194, 1);
	-moz-box-shadow:    3px 3px 0px 0px rgba(189, 191, 194, 1);
	box-shadow:         3px 3px 0px 0px rgba(189, 191, 194, 1);

	&.small {
		padding: 3px 4px;
	}

	.arrow-right {
		margin-right: 5px;
	}
}

.gform_button.button {
	.btn;
	border: 1px solid;
	appearance: none;
	-webkit-appearance: none;
}

.gform_button.button,
.btn-simple {
	color: @gray-dark!important;
	.button-variant(@gray-dark, #fff, @gray-lighter);

	.arrow-left-black {
		margin-right: 5px;
		vertical-align: -1px;
	}

	.arrow-right-black {
		margin-left: 5px;
		vertical-align: -1px;
	}
}