button {
	//Button resets
	padding: 0;
	border: 0;
	appearance: none;
	-webkit-appearance: none;

	&.icon-close {

	}
}

.btn-more-options{
	// padding-top:20px;
}

.btn-skills{
	background: #333;
	color: #FFF;
}