.nav-enews {
	position: relative;

	.nav-icon {
		z-index: 1000;
	}

	.enews-form {
		width: 350px;
		height: 400px;
		background-color: #fff;
		-webkit-box-shadow: -3px 3px 0px 0px rgba(170, 178, 175, 1);
			-moz-box-shadow: -3px 3px 0px 0px rgba(170, 178, 175, 1);
			box-shadow: -3px 3px 0px 0px rgba(170, 178, 175, 1);

		position: absolute;
		top: 0;
		right: -115px;
		z-index: 150;

		h3 {
			font-family: @font-medium;
			font-size: 18px;
			font-weight: normal;
			text-transform: initial;
		}

		.panel-heading {
			padding-top: 30px;
		}

		.icon-close {
			position: absolute;
			top: 30px;
			right: 30px;
			cursor: pointer;
		}
	}
}