.circle(@diameter, @bg, @border) {
  width: @diameter;
  height: @diameter;
  background-color: @bg;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: @border;
  text-align: center;
  line-height:  @diameter *1.15;
  display: inline-block;
}

.hero-overlay {
  width: 456px;
  height: 326px;
  background: url('../img/hero-overlay.png') 0 0 no-repeat;
  display: inline-block;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background: url('../img/hero-overlay@2x.png') 0 0 no-repeat;
    background-size: 456px 326px;
  }
}


.graphic {
	background: url('../img/sprite.png') 0 0 no-repeat;
	display: inline-block;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
		background: url('../img/sprite@2x.png') 0 0 no-repeat;
		background-size: 600px 500px;
  	}

  	&.logo {
  		width: 134px;
  		height: 67px;
  	}

  	&.nav-home {
  		width: 44px;
  		height: 35px;
  		background-position: 0 -80px;
  	}

  	&.nav-about {
  		width: 44px;
  		height: 35px;
  		background-position: -50px -80px;
  	}

  	&.nav-courses {
  		width: 44px;
  		height: 35px;
  		background-position: -100px -80px;
  	}

  	&.nav-news {
  		width: 44px;
  		height: 35px;
  		background-position: -150px -80px;
  	}

  	&.nav-contact {
  		width: 44px;
  		height: 35px;
  		background-position: -200px -80px;
  	}

  	&.nav-search {
  		width: 44px;
  		height: 35px;
  		background-position: -250px -80px;
  	}

  	&.nav-e-news {
  		width: 44px;
  		height: 35px;
  		background-position: -300px -80px;
  	}

    &.nav-community {
      width: 44px;
      height: 35px;
      background-position: -350px -80px;
    }

    &.nav-cart {
      width: 44px;
      height: 35px;
      background-position: -200px 0;
    }

  	&.icon-close {
  		width: 15px;
  		height: 15px;
  		background-position: 0 -120px;
  	}

    &.icon-expand {
      width: 22px;
      height: 22px;
      background-position: -100px -190px;
    }

    &.icon-expand-white {
      width: 22px;
      height: 22px;
        background-position: -100px -215px;

    }

    &.icon-collapse {
      width: 22px;
      height: 22px;
      background-position: -140px -190px;
    }

     &.icon-collapse-white {
      width: 22px;
      height: 22px;
      background-position: -140px -215px;
    }

    &.icon-close-circle {
      width: 13px;
      height: 13px;
      background-position: -80px -190px;
    }

    &.icon-close {
      width: 15px;
      height: 15px;
      background-position: -230px -120px;
    }

  	&.nav-menu-callout {
  		width: 20px;
  		height: 10px;
  		background-position: -40px -120px;
  	}

  	&.nav-back-to-top {
  		width: 9px;
  		height: 9px;
  		background-position: -80px -120px;
  	}

  	&.btn-play-sm {
  		width: 38px;
  		height: 38px;
  		background-position: -360px 0;
  	}

  	&.btn-play-lg {
  		width: 122px;
  		height: 122px;
  		background-position: -400px 0;
  	}

    &.btn-play-xl {
      width: 182px;
      height: 182px;
      background-position: -142px -280px;
    }

  	&.icon-phone {
  		width: 65px;
  		height: 65px;
  		background-position: -280px -140px;
  	}

  	&.icon-email {
  		width: 65px;
  		height: 65px;
  		background-position: -360px -140px;
  	}

    &.icon-select-expand {
      width: 10px;
      height: 15px;
      background-position: -180px -120px;
    }

    &.icon-cart {
      width: 39px;
      height: 22px;
      background-position: -80px -160px;
    }

    &.icon-read-more {
      width: 29px;
      height: 12px;
      background-position: -120px -160px;
    }


    &.arrow-right-green {
      width: 5px;
      height: 9px;
      background-position: -170px -160px;
    }


    &.arrow-right-blue {
      width: 5px;
      height: 9px;
      background-position: -180px -160px;
    }

    &.arrow-right-pink {
      width: 5px;
      height: 9px;
      background-position: -190px -160px;
    }

    &.arrow-right-black {
      width: 7px;
      height: 12px;
      background-position: -100px -120px;
    }

    &.arrow-left-black {
      width: 7px;
      height: 12px;
      background-position: -110px -120px;
    }

    .arrow-circle-left {
      width: 31px;
      height: 31px;
      background-position: 0 -340px;
    }

    .arrow-circle-right {
      width: 31px;
      height: 31px;
      background-position: -40px -340px;
    }

     &.arrow-right-gray {
      width: 7px;
      height: 14px;
      background-position: -170px -120px;
    }

    &.icon-star {
      width: 20px;
      height: 19px;
      background-position: -80px -140px;

      &.selected {
         background-position: -120px -140px;
      }
    }

  	&.arrow-section-down {
  		width: 41px;
  		height: 20px;
  		background-position: -120px -120px;
  	}

  	&.arrow-link-sq-green {
  		width: 20px;
  		height: 20px;
  		background-position: 0 -140px;
  	}

  	&.arrow-link-green {
  		width: 10px;
  		height: 10px;
  		background-position: -40px -140px;
  	}

  	&.arrow-link-sq-blue {
  		width: 20px;
  		height: 20px;
  		background-position: 0 -160px;
  	}

  	&.arrow-link-blue {
  		width: 10px;
  		height: 10px;
  		background-position: -40px -160px;
  	}

  	&.arrow-link-sq-pink {
  		width: 20px;
  		height: 20px;
  		background-position: 0 -180px;
  	}

    &.arrow-link-sq-white {
      width: 22px;
      height: 22px;
      background-position: -255px -118px;
      vertical-align: -5px;
    }

  	&.arrow-link-pink {
  		width: 10px;
  		height: 10px;
  		background-position: -40px -180px;
  	}

    &.arrow-panel-gray {
      width: 6px;
      height: 12px;
      background-position: -180px -190px;
    }

    &.arrow-panel-white {
      width: 6px;
      height: 12px;
      background-position: -200px -190px;
    }

    &.arrow-right-sm-green {
      width: 5px;
      height: 11px;
      background-position: -40px -200px;
    }

     &.arrow-right-sm-blue {
      width: 5px;
      height: 11px;
      background-position: -50px -200px;
    }

     &.arrow-right-sm-pink {
      width: 5px;
      height: 11px;
      background-position: -60px -200px;
    }

     &.arrow-right-outline-green {
      width: 6px;
      height: 12px;
      background-position: -40px -220px;
    }

    &.arrow-right-outline-blue {
      width: 6px;
      height: 12px;
      background-position: -50px -220px;
    }

    &.arrow-right-outline-pink {
      width: 6px;
      height: 12px;
      background-position: -60px -220px;
    }

    &.arrow-right-circle {
      width: 24px;
      height: 24px;
      background-position: -200px -210px;
    }

    &.icon-facebook {
      width: 23px;
      height: 22px;
      background-position: -280px -220px;
    }

    &.icon-twitter {
      width: 23px;
      height: 23px;
      background-position: -310px -220px;
    }

    &.icon-linkedin {
      width: 23px;
      height: 23px;
      background-position: -340px -220px;
    }

  	&.icon-share {
  		width: 20px;
  		height: 22px;
  		background-position: 0 -200px;
  	}

    &.panel-info-callout {
      width: 21px;
      height: 13px;
      background-position: -200px -120px;
    }

    &.footer-logo {
      width: 100px;
      height: 50px;
      background-position: 0 -280px;
    }

  	&.footer-qeli {
  		width: 30px;
  		height: 27px;
  		background-position: 0 -240px
  	}

  	&.footer-about {
  		width: 30px;
  		height: 27px;
  		background-position: -40px -240px
  	}

  	&.footer-courses {
  		width: 30px;
  		height: 27px;
  		background-position: -80px -240px
  	}

  	&.footer-news {
  		width: 30px;
  		height: 27px;
  		background-position: -120px -240px
  	}

  	&.footer-legal {
  		width: 30px;
  		height: 27px;
  		background-position: -160px -240px
  	}

  	&.footer-sitemap {
  		width: 30px;
  		height: 27px;
  		background-position: -200px -240px
  	}

    &.footer-community {
      width: 30px;
      height: 27px;
      background-position: -240px -240px
    }

  &.icon-chevron-down-circle {
    background-position: -428px -145px;
    height: 60px;
    width: 60px;
    display: inline-block;
  }
}