.bx-wrapper {
	position: relative;
	margin: 0 !important;

	img {
		width: auto;
		height: 120px;
		margin: 0 auto;
	}

	li {
		border-right: 1px dashed @gray-lighter;
		padding: 0 20px;
	}

	.bx-viewport {
		
	}

	.bx-controls {
		margin-top: 30px;
	}
	

}

.slider {
	height: 120px;
	position: relative;

	.slider-container {
		margin: 0 auto;
	}

	.slider-next {
		width: 66px;
		height: 100%;
		background-color: @gray-lightest;
		text-indent: -9999px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;

		&:hover {
			background-color: @gray-lighter;
		}

		&:after {
			content: '';
			.graphic;
			.graphic.slider-arrow-right;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -17px;
			margin-left: -8px;
		}
	}

	.slider-prev {
		width: 66px;
		height: 100%;
		background-color: @gray-lightest;
		text-indent: -9999px;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;

		&:hover {
			background-color: @gray-lighter;
		}

		&:after {
			content: '';
			.graphic;
			.graphic.slider-arrow-left;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -17px;
			margin-left: -8px;
		}
	}
}